{% extends 'base.html.twig' %}

{% block title %} {{series.title}} {% endblock %}

{% block body %}

    <style>
    
.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 4 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 5; }
.div3 { grid-area: 2 / 2 / 3 / 5; }
.div4 { grid-area: 3 / 2 / 4 / 5; }
.div5 { grid-area: 4 / 1 / 5 / 5; }

    img{
        margin-top: 25px;
        margin-bottom: 25px;
        border-radius: 10px;
    }
    div>div{
        margin-left : 25px;
    }

    </style>

    <div class="parent">
        <div class="div1"> <img src={{ path('series_poster', {'id': series.id}) }} style="width:100%;"> </div>
        <div class="div2"> <h1>{{series.title}}</h1> </div>
        <div class="div3"> <p>{{series.plot}}</p> </div>
        <div class="div4"> <a href="{{series.youtubeTrailer}}">Trailer Youtube</a></div>
        <div class="div5"> <p> {{series.yearStart}} - {{series.yearEnd}} </p> </div>
    </div>

    <a href="{{ path('serie_index') }}">back to list</a>

    
    <a href="{{ path('serie_edit', {'id': series.id}) }}">edit</a>

    <h1>COUCOU</h1>


    {{ include('serie/_delete_form.html.twig') }}
{% endblock %}
